<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Digest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="font-sans m-6 background-color text-color">
    <nav class="flex items-center flex-row-reverse p-4 space-x-reverse space-x-4">
      <% if signed_in? %>
        <%= link_to edit_users_path, class: 'rounded-full border-2 border-opacity-0 border-yellow-500 hover:border-opacity-100 transition ease-out duration-100' do %>
          <%= image_tag(current_user.twitter_image, class: "rounded-full h-8 w-8 border-2 border-background-color") %>
        <% end %>
        <%= link_to "Sign out", sign_out_path, method: :post, class: 'text-xs font-bold underline text-color-strong' %>
      <% else %>
        <%= link_to "Sign in", sign_in_twitter_path, class: 'text-xs font-bold underline text-color-strong' %>
      <% end %>
    </nav>

    <%= yield %>

  </body>
</html>
